@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display';
}

nav,
footer,
main,
p,
#how {
  margin: 0 auto;
  max-width: 100ex;
}

a {
  height: 100%;
  line-height: 100%;
  color: black;
  text-decoration: none;
}

a:active {
  color: #622;
}

a:hover {
  text-decoration: underline;
}

h1 {
  /* margin: 0; */
}

.bg {
  background: #FFEC40;
  padding: 1em 0;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 0 3ex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu li {
  margin: 0 2ex;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key {
  padding: 1ex 1.5ex;
  background: #DEDEDE;
  box-shadow: inset 1px -1px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

#heading {
  padding: 40px 0;
}

#heading h2 {
  font-size: 2em;
}

#heading h3 {
  font-size: 1.25em;
}

#heading div {
  margin: 4ex 0;
}

#key-instruction span {
}

.decoration {
  position: relative;
  width: 80px;
  height: 80px;
}

.decoration#stripes {
  background: url('icons/stripes.svg');
  top: -40px;
  left: 80vw;
  width: 99px;
}

.button {
  display: block;
  margin: 1ex auto;
  padding: 1.2ex 2.4ex;
  border: none;
  background: #AF3E1A;
  box-shadow: 0.8ex 0.8ex 0px #7B2307;
  color: white;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0.6ex 0.6ex 0px #7B2307;
}

#share {
  margin: 1ex;
  font-size: 1.3em;
}

#how {
  padding: 0 1ex;
  margin-bottom: 20ex;
}

#how a {
  color: #7B2307;
}

#how input {
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  margin: 3ex auto;
  margin-top: 6ex;
  padding: 1ex;
  border: none;
  box-shadow: 0 0 5px #ccc;
  width: 80vw;
  max-width: 70ex;
  text-align: center;
}

#quote {
  margin: 6ex auto;
  position: relative;
  max-width: 140ex;
}

#quote blockquote {
  font-size: 3em;
  width: 10em;
  position: relative;
  top: -2em;
}

#quote figcaption {
  margin: 0 1ex;
}

#quote img {
  width: 30vw;
  max-width: 250px;
  position: absolute;
  bottom: -3ex;
  right: 10%;
}
