@font-face {
  font-family: 'Playfair Display';
  src: url('fonts/PlayfairDisplay-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

*::selection {
  color: white;
  background: #882f2f;
}

main {
  flex: 1;
}

nav,
footer,
main,
p,
#how {
  margin: 0 auto;
  max-width: 100ex;
}

a {
  height: 100%;
  line-height: 100%;
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
}

a:active {
  color: #622;
}

a:hover {
  border-bottom: 1px solid;
}

h1,h2,h3{
  text-align: center;
}

.bg {
  background: #FFEC40;
  padding: 1em 0;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 0 3ex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  padding: 0;
}

nav ul li {
  margin: 0 2ex;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key {
  padding: 1ex 1.5ex;
  background: #DEDEDE;
  box-shadow: inset 1px -1px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

#heading {
  padding-top: 40px;
  padding-bottom: 80px;
}

#heading h2 {
  font-size: 2em;
}

#heading h3 {
  font-size: 1.25em;
}

#heading div {
  margin: 4ex 0;
}

#key-instruction span {
}

.decoration {
  position: relative;
}

.decoration#stripes {
  background: url('icons/stripes.svg');
  background-repeat: no-repeat;
  top: -30px;
  left: calc(90vw - 100px);
  height: 60px;
  width: 100px;
}

.button {
  display: block;
  margin: 1ex auto;
  padding: 1.2ex 2.4ex;
  border: none;
  background: #AF3E1A;
  box-shadow: 0.8ex 0.8ex 0px #7B2307;
  color: white;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0.6ex 0.6ex 0px #7B2307;
}

#share {
  margin: 1ex;
  font-size: 1.3em;
}

#how {
  padding: 0 3ex;
  margin-bottom: 20vmin;
}

#how a {
  color: #7B2307;
}

#how input {
  display: block;
  font-family: inherit;
  font-size: 1.2em;
  margin: 3ex auto;
  margin-top: 6ex;
  padding: 1ex;
  border: none;
  box-shadow: 0 0 5px #ccc;
  width: 80vw;
  max-width: 70ex;
  text-align: center;
}

#quote {
  margin: 3ex auto;
  position: relative;
  max-width: 140ex;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

#quote blockquote {
  margin: 0 0.5em;
  font-size: 6vmin;
  width: 10em;
  position: relative;
  top: -1em;
}

#quote figcaption {
  margin: 0 1ex;
  width: calc(70vw - 110px);
}

#quote img {
  width: 20vw;
  min-width: 110px;
  max-width: 250px;
  position: absolute;
  bottom: -3ex;
  right: 10%;
}

@media screen and (max-width: 480px) {
  .menu {
    position: absolute;
    flex-direction: column;
    transform: translateX(-200px);
    padding: 0;
    margin-top: 0;
  }

  .menu li {
    margin: 10px 0;
    width: 50vw;
    text-decoration: underline;
    font-size: 1.2em;
  }

  .menu.menu--active {
    display: flex;
    background: #FFEC40;
    transform: translateX(0px)
  }

  button.hamburger {
    display: inline-block;
  }

  #key-instruction {
    display: none;
  }

  #footer footer {
    text-align: center;
    flex-direction: column;
  }
}

#footer {
  padding: 2ex;
  margin-top: 15vmin;
  width: 100%;
  color: white;
  background: #882f2f;
  min-height: 20vh;
}

footer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer ul {
  flex-direction: column;
}

#extra {
  top: 30vh;
  width: 10vw;
  position: fixed;
  padding: 1em;
  background: #882f2f;
  transition: all 1s;
}

#extra.hidden {
  transform: translateX(-10vw);
}

#extra button {
  border: 1px solid white;
}

#extra .show {
  position: absolute;
  background: #882f2f;
  color: white;
  height: 5vw;
  max-height: 50px;
  width: 5vw;
  max-width: 50px;
  top: 0;
  left: 10vw;

}
